<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tasks</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">@{title}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="https://github.com/rkusa/swac-demo">Source</a></li>
          <li><a href="https://github.com/rkusa/swac">SWAC</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      @section('main')
    </div>
  </div>
  
  <script type="text/javascript" src="/js/jquery-2.0.2.min.js"></script>
  <script type="text/javascript" src="/js/swac.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript">
		window.app = window._s = window.swac.State.deserialize(@serialize());
  </script>
  <script type="text/javascript" src="/js/collapse.js"></script>
</body>
</html>